$bg-1: #171728;
$bg-2: #1d1d2f;
$fg: #d4d7ff;
$blue: #729ce9;
$yellow: #fdf5b0;
$red: #da587d;

* {
	all: unset;
}

* {
	font-family: 'ShureTechMono Nerd Font';
}

.powermenu {
	font-size: 2em;

	button {
		padding: .5em;
		border-radius: 0.1em;
		background-color: rgba($bg-2, 1.0);
		color: rgba($fg, 0.8);

		&:nth-child(1) {
			&:hover {
				transition: 200ms linear background-color, border-radius;
				color: rgba($blue, 0.9);
				background-color: rgba($bg-1, 0.9);
			}
		}

		&:nth-child(2) {
			&:hover {
				transition: 200ms linear background-color, border-radius;
				color: rgba($blue, 0.9);
				background-color: rgba($bg-1, 1.0);
			}
		}

		&:nth-child(3) {
			&:hover {
				transition: 200ms linear background-color, border-radius;
				color: rgba($yellow, 0.9);
				background-color: rgba($bg-1, 1.0);
			}
		}

		&:nth-child(4) {
			&:hover {
				transition: 200ms linear background-color, border-radius;
				color: rgba($red, 0.9);
				background-color: rgba($bg-1, 1.0);
			}
		}

		&:nth-child(5) {
			&:hover {
				transition: 200ms linear background-color, border-radius;
				color: rgba($red, 0.9);
				background-color: rgba($bg-1, 1.0);
			}
		}

	}
}
