$bg-1: #12121f;
$bg-2: #1d1d2f;
$bg-3: #29293f;
$fg: #d4d7ff;
$red: #da587d;

* {
	all: unset;
}

* {
	font-family: 'ShureTechMono Nerd Font';
}

.layout-box {
	background-repeat: no-repeat;
	background-size: contain;
	padding: 5em;
	color: rgba($fg, 0.8);
}

.net_box,
.bat_box,
.tm-box {
	label {
		font-size: 2em;
	}
}

.close-btn {
	font-size: 2em;

	&:hover {
		color: $red;
	}
}

.btns-box {
	font-size: 2.5em;

	button {
		padding: 0.4em;
		border-radius: 0.1em;
		background-color: rgba($bg-3, 0.3);

		&:hover {
			transition: 200ms linear background-color, border-radius;
			background-color: rgba($bg-3, 0.6);
		}

		&:first-child {
			color: rgba($red, 0.8);
		}
	}
}

.sep {
	font-size: 1.5em;
	padding-top: 0.15em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	color: $bg-3;
}

.sundial-lbl {
	font-size: 1.5em;
	font-weight: bold;
	border-radius: 0.2em;
	padding: 0.4em;
	padding-bottom: 0.5em;
}
