* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family:
    ShureTechMonoNF FontAwesome,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 15px;
}

/* colors */
@define-color bg1 #12121f;
@define-color bg2 #171728;
@define-color bg3 #1d1d2f;
@define-color bg4 #222236;
@define-color bg5 #29293f;
@define-color fg #d4d7ff;
@define-color grey1 #4f5071;
@define-color grey2 #595b7e;
@define-color grey3 #63658b;
@define-color green #7ed7c0;
@define-color yellow #ecdfac;
@define-color blue #87bff7;
@define-color ice #aaecf8;
@define-color purple #9486e4;
@define-color red #bd4277;
@define-color lilac #88a4f7;

/* general */
/*
.modules-center {
  background: @bg5;
  padding: 4px;
  padding-right: 6px;
  padding-left: 6px;
  margin-top: -5px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.modules-right {
  background: @bg5;
  padding: 4px;
  padding-left: 6px;
  margin-top: -5px;
  border-bottom-left-radius: 25px;
}

.modules-left {
  background: @bg5;
  padding: 4px;
  padding-right: 6px;
  margin-top: -5px;
  border-bottom-right-radius: 25px;
}
*/

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  color: @fg;
  transition-property: background-color;
  transition-duration: 0.5s;
}

tooltip {
  background: @bg1;
  border: 2px solid @bg3;
}

tooltip label {
  color: @fg;
}

/* modules */
#mode,
#custom-power,
#disk,
#cpu,
#memory,
#temperature,
#workspace,
#window,
#pulseaudio,
#network,
#battery,
#clock {
  padding: 0 8px;
  background: @bg1;
  color: @fg;
  border-radius: 5px;
}

#custom-power {
  border-left: 1px solid @green;
  border-right: 1px solid @bg5;
  border-top: 1px solid @bg5;
  border-bottom: 1px solid @bg5;
}

#disk {
  border-left: 1px solid @lilac;
  border-right: 1px solid @bg5;
  border-top: 1px solid @bg5;
  border-bottom: 1px solid @bg5;
}

#cpu {
  border-left: 1px solid @ice;
  border-right: 1px solid @bg5;
  border-top: 1px solid @bg5;
  border-bottom: 1px solid @bg5;
}

#memory {
  border-left: 1px solid @red;
  border-right: 1px solid @bg5;
  border-top: 1px solid @bg5;
  border-bottom: 1px solid @bg5;
}

#temperature {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 0px;
  border-left: 1px solid @blue;
  border-right: 1px solid @bg5;
  border-top: 1px solid @bg5;
  border-bottom: 1px solid @bg5;
}

#workspaces {
  background: @bg1;
  margin-left: 25px;
  padding-right: 8px;
  padding-left: 8px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 1px solid @blue;
  border-right: 1px solid @blue;
  border-top: 1px solid @bg5;
  border-bottom: 1px solid @bg5;
}

#workspaces button {
  padding: 0 5px;
  color: @grey3;
}

#workspaces button.active {
  color: @fg;
}

#workspaces button:hover {
  background: @bg1;
  border: @bg5;
  color: @grey3;
}

#window {
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 1px solid @green;
  border-right: 1px solid @green;
  border-top: 1px solid @bg5;
  border-bottom: 1px solid @bg5;
}

#pulseaudio {
  padding-left: 12px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 20px;
  border-left: 1px solid @bg5;
  border-right: 1px solid @lilac;
  border-top: 1px solid @bg5;
  border-bottom: 1px solid @bg5;
}

#network {
  border-left: 1px solid @bg5;
  border-right: 1px solid @ice;
  border-top: 1px solid @bg5;
  border-bottom: 1px solid @bg5;
}

#battery {
  border-left: 1px solid @bg5;
  border-right: 1px solid @red;
  border-top: 1px solid @bg5;
  border-bottom: 1px solid @bg5;
}

#clock {
  border-left: 1px solid @bg5;
  border-right: 1px solid @blue;
  border-top: 1px solid @bg5;
  border-bottom: 1px solid @bg5;
}
